h1 {
  font-weight: 1.5rem;
  margin-bottom: 1.5rem;
}

.columns-metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.columns-metrics .metric {
  width: 49%;
  height: 100%;
}
